#background{
    top:0px;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    filter: blur(0px);
}

#projectTitle {
    box-sizing: border-box;
    width:100%;
    text-align: center;
    padding-top: 18%;
    font-family: Avenir;
    font-size: 50pt;
    color: #EEEEEE;
}

#projectSummary {
    box-sizing: border-box;
    padding-top: 29%;
    width: 100%;
    text-align: center;
    font-family: Avenir;
    font-size: 30pt;
    color: #DDDDDD;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom:3%;
}

#description{
    background-color: #EEEEEE;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    align-items: center;
    justify-content: space-around;
}

#description img{
    width: auto;
    height: 100%;
    box-shadow: 0px 0px 0.1vh #BBBBBB;
}

.descriptionBox{
    font-family: Avenir;
    font-size: 18pt;

    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:75%;
    height:0%;
    margin:2%;
}

.descriptionBox div{
    text-align: center;
    width: 30%;
}

.line{
 width:70%;
 height:.5vh;
 background: #888888;
}