

#mugshot{
    border-radius: 50%;
    height: 40%;
    width: auto;
    margin-bottom: 10%;
}

#info {
    padding-top: 10%;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

    
    /*background: radial-gradient(rgb(240,240,240),white 70%);
    */background: linear-gradient(-30deg, transparent 63%, white 63%),
    radial-gradient(circle at 50% 35%, #DDDDDD 0%, white 60%);
}

#info > div{
    font-family: Avenir;
    text-align: center;
}

#introduction{
    color: rgb(255,138,235);
    font-size: 50pt;
    margin-bottom: 8%;
}

#description{
    color: #AAAAAA;
    font-size: 30pt;
    margin-bottom: 10vh;
}